<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chomedicine.jindani">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.chomedicine.jindani.activities.UserUpdateQnaActivity"/>
        <activity android:name="com.chomedicine.jindani.activities.DoctorUpdateQnaActivity" />
        <activity android:name="com.chomedicine.jindani.activities.UpdateUserInfoActivity" />
        <activity android:name="com.chomedicine.jindani.activities.DoctorMypageActivity" />
        <activity android:name="com.chomedicine.jindani.activities.UserMypageActivity" />
        <activity android:name="com.chomedicine.jindani.activities.DoctorMainActivity" />
        <activity android:name="com.chomedicine.jindani.activities.DoctorRegisterActivity" />
        <activity android:name="com.chomedicine.jindani.activities.LoginActivity" />
        <activity android:name="com.chomedicine.jindani.activities.UserRegisterActivity" />
        <activity android:name="com.chomedicine.jindani.activities.PersonInfoActivity" />
        <activity android:name="com.chomedicine.jindani.activities.ChatActivity" />
        <activity
            android:name="com.chomedicine.jindani.activities.SplashActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chomedicine.jindani.activities.UserMainActivity" />
        <activity
            android:name="com.chomedicine.jindani.activities.QnaListActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name="com.chomedicine.jindani.activities.WriteQuestionActivity" />
        <activity android:name="com.chomedicine.jindani.activities.UserSegmentActivity" />
        <activity android:name="com.chomedicine.jindani.activities.UserQnaDetailActivity" />
        <activity android:name="com.chomedicine.jindani.activities.DoctorQnaListActivity" />
        <activity android:name="com.chomedicine.jindani.activities.DoctorQnaDetailActivity" />
        <activity android:name="com.chomedicine.jindani.activities.WriteAnswerActivity" />
        <activity android:name="com.chomedicine.jindani.activities.BaseActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
